<ul class="nav nav-list">
	<li><a href="{{ site.baseurl }}/">Introduction</a></li>
</ul>

{% for section in site.sections %}
	{% assign attr = section[0] %}
	{% assign label = section[1] %}

	<ul class="nav nav-list" id="nav--{{ attr }}">
	{% for page in site.categories[attr] %}
		{% if forloop.first %}
			<li class="nav-header nav-header--{{ attr }}">{{ label }}</li>
		{% endif %}
		<li class="nav-link--{{ attr }}" data-func="{{ page.title }}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
	{% endfor %}
	</ul>
{% endfor %}